<% include partials/_header %>
<h1>CRUD</h1> 
<a href="/hijo">CRUD tabla hijo</a>
<br>
<a href="/padre">CRUD tabla padre</a>
<br>
<h1>CONSULTAS</h1> 
<a href="/consultas/hdp">Hijos de un padre seleccionado</a>
<br>
<a href="/consultas/psh">Padres sin hijos</a>
<br>
<a href="/consultas/hsp">Hijos de un padre seleccionado</a>
<br>
<a href="/consultas/pnh">Hijos de un padre seleccionado</a>
<br>
<% include partials/_footer %>